body {
  background: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

header,
main {
  display: flex;
  justify-content: center;
}


.movie-entries {
  margin: 45px 10px;
}

.movie span:last-of-type {
  margin-left: 10px;
}

.delete-btn {
  margin-left: 15px;
}